<div class="upload">
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="upload__container">
            <div class="upload__container--title">
                <input type="file" name="image" unique="false">
            </div>

            <div class="upload__container--title">
                <input type="text" name="marca" placeholder="Marca">
            </div>

            <div class="upload__container--button">
                <button class="btn">Publicar</button>
            </div>
        </div>
    </form>
</div>