body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #d71200;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 45%;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffd700;
    /* Cambia el color al pasar el ratón sobre los enlaces */
}

.headerTop {
    height: 7vh;
}


/* Upload */

.upload {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.upload__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}

.upload__container--file,
.upload__container--number,
.upload__container--title,
.upload__container--button {
    margin-bottom: 8px;
}

.upload__container--file input[type="file"],
.upload__container--number input[type="number"],
.upload__container--title input[type="text"],
.upload__container--button button {
    padding: 10px;
    font-size: 1rem;
    border: solid rgb(223, 23, 23) none;
    border-radius: 5px;
}

.upload__container--button button {
    background-color: rgb(20, 5, 157);
    color: white;
    cursor: pointer;
}

.upload__container--button button:hover {
    background-color: #255403;
}

/* Cards */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.card img {
    width: 90%;
    margin: auto;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.card h3,
h4 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

.card p {
    font-size: 14px;
    margin: 10px;
    color: #777;
}

/*Button*/

.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #d71200;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
}

.btn:hover {
    background-color: #d71200;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    gap: 10px;
}

.center {
    text-align: center;
    margin: 30px auto;
}

.select {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    gap: 20px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.formType {
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.center {
    display: flex;
    margin: auto;
}