<header class="headerTop">
    <a href="/">
        <img class="logo" src="img/savi-by-giama-blanco.png" alt="">
    </a>

    <nav>
        <ul>
            <li><a href="/upload">Nuevo Plan</a></li>
            <li><a href="/planes">Ver Planes</a></li>
        </ul>
    </nav>
</header>